name: bjb_cob_sdk
description: BJB Customer Onboarding SDK for Flutter (Universal iOS & Android)
version: 1.0.0

environment:
  sdk: '>=2.17.0 <4.0.0'
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.bjb.cob_sdk
        pluginClass: BjbCobSdkPlugin
      ios:
        pluginClass: BjbCobSdkPlugin